.about-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
   
    /* padding: 7%; */
}
.about-h1{
    font-family: sans-serif;
    font: size 0.3em;
    font-weight: bolder;
    color:#434242;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 2em;
}
.about-con-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.8em;
    flex-wrap: wrap;
}
.about-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30em;
    padding: 0.3em;
    text-align: center;
    /* border: 2px solid black; */
}
.about-h2{
    color: #424242;
    font-size: 1.7em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.icon{
    color:#804ef5;
    font-size: 1.3em;
}
.about-p{
    color: #94817e;
    font-size: 0.9;
    font-family:Helvetica, sans-serif;
}