.main-Blog{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 1em;
    flex-wrap: wrap;
}
.blog-content{
  
    width: 28em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
   margin-bottom: 1em;
}

.blog-sec{
    padding:0em 6em 3em 6em;
   width: 35em;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.blog-p{
    padding: 1em;
}

