.brandscroll-App {
    margin-top: 50px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 10%;
    padding-bottom: 5rem;

  }
  
 .brand-h1{
  font-size: 3em;
  font-weight: bold;
 }
 .brand-p{
padding: 1.5rem 0;
 }
  
  .image_wrapper {
    margin: 0px 40px;
  }
  
  .image_wrapper img {
    width: 70%;
  }
