.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.con-heading{
  text-align: center;
}
.form-group{
  display: flex;
 
  align-items: center;
  justify-content: center;
 gap: 2em;
}
input{
  padding: 0.5em;
  row-gap: 3em;
}
.con-sub1{
  /* display: flex; */
  width: 40rem;
}


.contact-con1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-sub2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul li{
  list-style: none;
}
.contact-con2{
  
  padding: 7rem;
  text-align: center;
  background: radial-gradient(circle at 0.7% 2.7%,rgba(115,46,209,255) 0%, rgba(33,16,77,255));
color: white;
}
.contact-con1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 10%; */
  /* flex-direction: column; */
}

.message{
  width: 27em;
}
.contact-btn{
width: 7em;
border: none;
background: radial-gradient(circle at 0.7% 2.7%,rgba(115,46,209,255) 0%, rgba(33,16,77,255));
color: white;
font-weight: bold;
font-size: larger;
border-radius: 5px;

}
