
.dropdown-content{
   
    margin-left: 20em;
}

/* title */
.action{
    background-color: rebeccapurple;
    /* width: 30rem; */
}
.column{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}