body{
  max-width: 100vw;
    margin:0;
    padding:0;
    position: relative;
}
.mdbcon{
    background-color: aqua;
}
.logo{
    height: 50px;
    width: 180px;
}
.li{
    text-decoration: none;
}
.nav{
    top: 0;
    position:sticky;
    z-index: 10;
    width: 100%;
   
}
.outline-success{
   margin: 10em;
}
.navbar{
  left: 0px;
  top: 0;
 
  z-index: 10;
  position: absolute;
    width: 100%; 
    background-color:  rgb(246, 240, 240);
}
/*  */

.Mega-menu{
    width: 100%;
    margin-bottom: 20em;
    /* background-color: red; */
}
.drop{
    background-color: aqua;
    width: 30em;
}
.drop-menu{
    color: red;
}
.eventsNav{
    background-color: red;
    
}
/* .row{
    background-color: rgb(159, 51, 51);
    width: 200em;
} */
.row1{
    background-color: black;
    width: 200em;
}

@media only screen and (max-width: 601px) {
    .logo{
        height: 45px;
        width: 162px;
        /* background-color: black; */
    }
    .nav-main{
        width: 100%;
    }
    h1{
        font-size: 1.8em;
    }
    h2{
        font-size: 1.8em;
    }
    .nav{
        width: 100%;
    }
 

}

 @media only screen and (min-width: 992px){

    .drop{
        display: flex;
        position: absolute;
        /* width: 100%; */
         background-color: rgb(4, 21, 6);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
} 