
.scroll{

            display: flex;
            max-width:80%;
        align-items: center;
        justify-content: space-evenly;

   

        flex-wrap: wrap;

}
.orgin{
    
}
.main{
    display: inline;
background: radial-gradient(circle at 0.7% 2.7%,rgba(115,46,209,255) 0%, rgba(33,16,77,255));

color: white;
}

.counting{
    /* background-color: black;
    color: white; */
    
    display: flex;
    width: 100%;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
}
.temp,.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    padding: 1em 0;
    text-align: center;
}
.icon{
    font-size: 40px;
}
.numbers{
    font-size: 48px;
    font-weight: bold;
    /* font-family: serif; */
}

.cus{
    font-weight: bold;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
.temp{
    /* padding: 2em;
    display: flex;
    flex-wrap: wrap; */
  
    padding: 0.5em;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
} 